# Apple login (used for one-time bootstrap lane)
APPLE_ID=shafeeq.magdum@gmail.com
DEV_TEAM_ID=PHUFD6V977
ITC_TEAM_ID=

APP_NAME=Ozzie Quran by Shafeeq Magdum 2026
APP_IDENTIFIER=com.ozzie.quran.ozzie
APP_SKU=ozzie-001

# App Store Connect API key (used for TestFlight upload lane)
ASC_KEY_ID=
ASC_ISSUER_ID=
ASC_KEY_PATH=/absolute/path/to/AuthKey_XXXXXX.p8
ASC_KEY_IS_BASE64=true
ASC_KEY_CONTENT=

# Optional overrides
BUILD_NAME=1.0.0
BUILD_NUMBER=2
